<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/large.css">
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<body>
  <header class="header">
    <div class="logo-title">
      <img src="https://i.postimg.cc/Tpx1pnjv/logo-trans.png" alt="logo" class="logo">
      <span class="title-container">
        <p class="title">Ducks</h1>
        <p class="title-p">in a Row</p>
      </span>
    </div>
    <nav class='navbar'>
      <ul class='navmenu'>
        <% if (!isAuthenticated) { %>
        <li class="nav-item">
          <a href="/" <% if (pageTitle === 'Home') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Home</a>
        </li>
        <% } %>
        <% if (isAuthenticated) { %>
        <li class="nav-item">
          <a href="/journal" <% if (pageTitle === 'Journal') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Journal</a>
        </li>
        <li class="nav-item">
          <a href="/todo" <% if (pageTitle === 'To Do List') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >To-Do</a>
        </li>
        <li class="nav-item">
          <a href="/habit" <% if (pageTitle === 'Habit Tracker') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Habit Tracker</a>
        </li>
        <li class="nav-item">
          <a href="/agenda" <% if (pageTitle === 'Agenda') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Agenda</a>
        </li>
        <% } %>
        <% if (!isAuthenticated) { %>
        <li class="nav-item">
          <a href="/login" <% if (pageTitle === 'Login') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup" <% if (pageTitle === 'Signup') { %>class="nav-link current" <% } else { %> class="nav-link" <% } %> >Signup</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/logout" method="post">
            <button type="submit" class="nav-link">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
      <div class='hamburger'>
        <span class='bar'></span>
        <span class='bar'></span>
        <span class='bar'></span>
      </div>
    </nav>
  </header>
  <hr class="hr-top">
  <main>
    <%- body %>
  </main>
  <script>
    const hamburger = document.querySelector(".hamburger")
    const navmenu = document.querySelector(".navmenu")

    hamburger.addEventListener("click", mobileMenu)

    function mobileMenu() {
      hamburger.classList.toggle("active")
      navmenu.classList.toggle("active")
    }

    const navLink = document.querySelectorAll(".nav-link");
    navLink.forEach(n => n.addEventListener("click", closeMenu));

    function closeMenu() {
      hamburger.classList.remove("active");
      navmenu.classList.remove("active");
    }
  </script>
</body>
<hr class="hr-bottom">
<footer>
  <p><span class="footer-left"><span>
      <a href="https://www.facebook.com/"><img src="https://i.postimg.cc/vDPjX085/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/"><img src="https://i.postimg.cc/MvvLL1XN/instagram.png" alt="Instagram"></a>
      <a href="/contact"><img src="https://i.postimg.cc/KRwWh4Mz/mail.png" alt="Contact Me"></a>
    </span>
    <span>Ducks in a Row 2022 |<a href="https://www.linkedin.com/in/catteara/">Catteara Neyman</a></span></span>
    <img src="https://i.postimg.cc/Tpx1pnjv/logo-trans.png" alt="logo" class="footer-logo">
  </p>
</footer>

</html>