.fa-check-circle {
    color: #136f7c;
}

.fa-times-circle {
    color: #011d28;
}

.fa-minus-circle {
    color: #ffc31f;
}

.status2 .fa-check-circle {
    color: #136f7c;
    font-size: 24px;
    margin-top: 10px;
}

.status2 .fa-times-circle {
    color: #011d28;
    font-size: 24px;
    margin-top: 10px;
}

.status2 .fa-minus-circle {
    color: #ffc31f;
    font-size: 24px;
    margin-top: 10px;
}

.habit-list-item {
    display: flex;
    gap: 5px;
    text-align: center;
    padding-bottom: 20px;
}

.dotw {
    width: 80px;
}

.habit-list-item-name {
    width: 250px;
    text-align: left;
}

/* Icons */

.edit, .remove {
    text-decoration: none;
}