@font-face {
    font-family: "Orion Sans";
    src: url("/fonts/212 Orion Sans PERSONAL USE.ttf");
}

@font-face {
    font-family: "Better Together";
    src: url("/fonts/Better Together Demo.ttf");
}

* {
    color: #011D28;
}

*:not(h1,h2,h3) {
    font-family: 'Orion Sans', sans-serif;
    font-size: 24px;
    -webkit-text-stroke-width: .5px;
}

/* Header */
.logo {
    height: 100px;
}

.logo-title {
    display: flex;
}

.title-container {
    width: 300px;
    margin: auto;
}

.title {
    font-family: 'Better Together', cursive;
    font-size: 2.7em;
    font-weight: bold;
    margin: 0;
    color: #136F7C;
}

.title-p {
    font-size: 34px;
    width: 110px;
    margin: 0;
    margin-top: -25px;
    padding-left: 75px;
    color: #136F7C;
} /* Header End */

h1 {
    font-family: 'Better Together', cursive;
}

header, main, footer {
    margin: 5px 20px;
}

body {
    margin: 0;
}

hr {
    border: none;
    border-top: 2px solid #ffc31f;
    border-bottom: 2px solid #136F7C;
    width: 100%;
    height: 3px;
}

/* Footer */
footer p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p img {
    height: 50px;
}

footer p a img:hover {
    filter:  drop-shadow(3px 3px #ffc31f);
}

@media only screen and (max-width: 780px) { 

    header, main, footer {
        margin: 5px 10px;
    }

    /* Footer Mobile */
    footer p, footer p span {
        display: block;
        text-align: center;
    }

    footer img {
        padding: 2% 4%;
    }

    .footer-logo {
        display: none;
    }
}