@media only screen and (min-width: 780px) {
/********* BASIC SETUP *********/

    header, 
    main {
        margin: 5px 20px;
    }

    .header {
        background-color: var(--sec-main);
        height: 200px;
        margin: 0;
    }

    main:not(div.key) {
        max-width: 950px;
        margin: auto;
    }

    .title {
        font-size: 3em;
    }

    .title-p {
        padding-left: 10%;
    }

    nav.navbar {
        max-width: 100%;
        height: 46px;
        justify-content: right;
        margin-right: 5%;
    }

    .navbar li {
        margin-left: 10px;
    }

    ul.navmenu {
        width: fit-content;
        max-width: 100%;
    }

    li.nav-item {
        margin-right: auto;
        width: 100%;
    }

    .logo {
        display: block;
        position: absolute;
        top: 10px;
        left: 5%;
        width: 180px;
        height: auto;
    }

    .logo-title {
        width: 275px;
        margin-left: auto;
        margin-right: 5%;
    }

    .title-container p, 
    a.nav-link, 
    button.nav-link {
        color: var(--text);
    }

    a.nav-link, 
    button.nav-link {
        padding: 10px 20px;
        width: 100%;
    }

    a.nav-link:hover, 
    button.nav-link:hover {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fefefa);
        opacity: 80%;
    }

    body.dark a.nav-link:hover, 
    body.dark button.nav-link:hover {
        color: var(--text);
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=011D28);
        opacity: 80%;
        -webkit-text-stroke-width: initial;
    }

    .btn {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 200%;
        max-width: 800px;
    }
    
    hr {
        margin-top: 3px;
    }

   /* Footer */

    footer {
        margin: 0 5% 10px 5%;
    }

    footer p, 
    footer p span {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer p img {
        height: 50px;
        padding: 0;
    }

    .footer-left {
        display: block;
    }

    .footer-left span {
        justify-content: left;
        gap: 15px;
    }

    footer p a img:hover {
        filter:  drop-shadow(3px 3px var(--accent));
    }

/********* HOME PAGE *********/

    .thumbnail-container {
        width: 100%;
        max-width: 100%;
        gap: 0 20px;
    }

    .thumbnail { 
        width: 100%;
        max-width: 180px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        width: 100%;
    }

/********* FORM *********/

    .form, .form input, .form textarea, .form div {
        width: 400px;
        max-width: 400px;
    }

/********* HABIT TRACKER *********/

    .week {
        display: inline-flex;
        width: auto;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .dotw {
        width: 80px;
        padding: 3px 0;
    }

    .key {
        margin-top: -150px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 30px;
    }

    .key div {
        margin-top: 0;
        padding: 5px;
        width: 130px;
    }

    .habit-list-item {
        display: flex;
    }

    .habit-list-item-name {
        margin-left: 20px;
    }

    /********* JOURNAL *********/

    .journal {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .journal-container form {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .journal-container h2, 
    .journal-container h3,
    .journal-container p,
    .journal-container a,
    .journal-container div {
        display: block;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .journal-container p {
        margin-bottom: 12px; 
    }

    /********* AGENDA *********/

    .event {
        margin-bottom: 20px;
    }

    .day-view {
        margin: auto 40px;
    }
}

a.current {
    color: var(--main);
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=136F7C);
    -webkit-text-stroke-width: initial;
}
