/********* NAVIGATION *********/
.navbar li {
    list-style: none;
}

.navbar a, .navbar button {
    text-decoration: none;
    -webkit-text-stroke-width: initial;
}

.navbar {
    display: flex;
    justify-content: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text);
}

.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20%;
    min-width: fit-content;
}

.nav-link {
    color: var(--text);
}

.nav-link:hover {
    color: var(--sec-accent);
}

@media only screen and (max-width: 780px) {

    .navbar{
        display: block
    }

    .navbar ul {
        display: block;
    }

    .nav-item {
        margin: 25px 0;
    }

    .nav-item form {
        margin-top: -10px;
    }

    .nav-link {
        padding: 30px;
    }

    .nav-item form .nav-link {
        margin: 0;
        padding: 10px;
    }

    .nav-link, button {
        color: var(--main);
    }

    .navmenu {
        position: absolute;
        left: -100%;
        top: 100px;
        flex-direction: column;
        background-color: var(--sec-accent);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgb(1, 29, 40, 0.05);
    }

    .nav-item:first-child {
        padding-top: 10px;
    }

    .navmenu.active {
        left: 0;
        width: 100%;
        padding: 30px 0 0 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-top: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color:var(--main);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color:var(--main);
    }

    .nav-link:hover, 
    button.nav-link:hover,
    .nav-item a.current:hover {
        color: var(--text);
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=fefefa);
        text-decoration: none;
        padding: 10px;
    }

    body.dark .nav-link:hover, 
    body.dark button.nav-link:hover,
    body.dark .nav-item a.current:hover {
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=011D28);
    }

    .nav-item a.current {
        color: var(--text);
        background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=b3d0d1);
        -webkit-text-stroke-width: initial;
        padding: 10px;
    }

    body.dark .nav-item a.current {
        background: none;
        text-decoration: underline;
    }

}

