<h1>Habit Tracker</h2>
    <div class='habit-edit'>
        <ul class="habit-list text-center">
            <% habit.forEach(details => { %>
            <% if (details._id == idHabit) { %>
            <li class="habit-list-item">
                <form action="/habit/edit/<%= details._id %>" method="POST">
                    <input type="text" value="<%= details.content %>" name="content">
                    <div><a href="/habit" class="cancel">Cancel</a>
                        <button type="submit" class="btn save">Save</button></div>
                </form>
            </li>
            <% } %>
            <% }) %>
        </ul>
    </div>